/* HEAD OF THE PAGE  */
.head{
    width: 700px;
    height: 70px;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(67, 63, 63);
}

/* BODY OF THE PAGE  */
.container {
    width: 700px;
    height: 300px;
    margin: 0px auto;
    background-color: aqua;
}

.box{
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
}

.button {
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.ingridients {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.list {
    list-style-type: disc;
    width: 200px;
    margin-left: 80px;
    margin-top: 10px;
}

.flex {
    width: 400px;
    height: 300px;
    background-color: green;
}

.submitted {
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 20px;
}

.states {
    width: 200px;
    height: 300px;
    background-color: beige;
    font-size: 1.2rem;
}

.hand {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-left: 65px;
    font-weight: bold;
    width: 300px;

}

.generateRecipe {
    width: 550px;
    height: 100px;
    background-color: rgb(245, 225, 204);
    margin: 20px 65px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.get {
    background-color: rgb(165, 101, 42);
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.sub1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.sub2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate {
    font-size: 0.8rem;
}

.grid {
    width: 250px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}


button {
    opacity: 0.2;
}
.on {
    opacity: 1;
}